DROP TABLE ${table.getSchema()}.${table.getName()};
CREATE TABLE ##
${table.getSchema()}.${table.getName()}##
#if ( $table.getName().substring(0, 1).matches("[0-9]") ) /* ERROR: table starts with a number, use rename option and a filter */ #end

(
#if ( $customColumns )
$customColumns
#end
## Columns.
#foreach ( $col in $table.getAllColumns() )
#set ( $firstcol = false )
#set ( $colReserved = false )
#if ( $reservedWordsMySQL.contains($col.getName().toUpperCase()) )
#set ( $colReserved = true )
  $col.getName()_ ##
#else
  $col.getName() ##
#end

### Add datatype specification.

#if ( $col.getTypeDescription().equals("DATE") )
DATETIME /* $col.getTypeDescription() */##
#elseif ( $col.getTypeDescription().equals("NUMBER") )
#if ( $col.getLength() == 0 )
INT##
#elseif( $col.getLength() == 3 )
INT##
#elseif( $col.getLength() == 5 )
INT##
#elseif( $col.getLength() == 7 )
INT##
#elseif( $col.getLength() == 10 )
BIGINT##
#elseif( $col.getLength() == 19 )
BIGINT##
#else
DECIMAL($col.getLength())##
#end

#set ( $varCharLen = $col.getLength() * 4 )
#if ( $varCharLen <= 65000 )
VARCHAR($varCharLen) /* $col.getTypeDescription() */##
#{else}VARCHAR(65535) /* WARN: VARCHAR too long ($col.getLength()) for Redshift, which uses bytes not characters */##
#end

#if ( $col.getTypeDescription().equals("LONG") )
LONGTEXT /* ERROR: $col.getTypeDescription() is unsupported by Oracle CDC */##
#elseif ( $col.getTypeDescription().equals("BFILE") )
VARCHAR(1024) /* ERROR: $col.getTypeDescription() is unsupported by Oracle CDC */##
#elseif ( $col.getTypeDescription().startsWith("CHAR") )
$col.getTypeDescription()($col.getLength())##
$col.getTypeDescription()($col.getLength())##
#elseif ( $col.getTypeDescription().contains("CLOB") )## CLOB, NCLOB
LONGTEXT /* WARN: $col.getTypeDescription()($col.getLength()) is unsupported by Oracle 10g CDC*/##
#elseif ( $col.getTypeDescription().contains("BLOB") )
LONGBLOB /* WARN: $col.getTypeDescription()($col.getLength()) is unsupported by Oracle 10g CDC*/##
#elseif ( $col.getTypeDescription().equals("LONG RAW") )
LONGBLOB /* ERROR: $col.getTypeDescription() is unsupported by Oracle CDC */##
#elseif ( $col.getTypeDescription().contains("TIMESTAMP") )
TIMESTAMP /* $col.getTypeDescription() */##
#elseif ( $col.getTypeDescription().equals("RAW") )
VARBINARY($col.getLength()) /* $col.getTypeDescription()($col.getLength()) */##
#else
$col.getTypeDescription() /* ERROR: unrecognized (type=$col.getType(), length=$col.getLength()) */#end##
#if ( $col.isNotNull() ) NOT NULL#end##
#if( $colReserved ) /* WARN: changed column name because of reserved word ($col.getName()) */#end##
#if( $foreach.hasNext ),
#end
#end
