#*
	VMware Continuent Tungsten Replicator
	Copyright (C) 2015 VMware, Inc. All rights reserved.

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
	
	Initial developer(s): Robert Hodges, Linas Virbalas
	Contributor(s):
*##parse("includes/table-counter.vm")
## Print header or help above the first table.
#if ( $counter == 1 )
#if( $help )
Velocity template to generate staging tables for Tungsten Replicator. 
  
Transforms MySQL table definition (DDL) to Hive 0.10 staging tables. 
Reports errors (ERROR) and warnings (WARN).  Column mappings
generally map to those used by Tungsten Replicator.

Options: 
  -opt hdfsStagingDir - HDFS directory in which external tables are located
       (Defaults to /user/tungsten/staging)
  -opt schemaPrefix - Prefix for schema name (Defaults to null)
  -opt tablePrefix - Prefix for table name (Defaults to stage_xxx_)
#else
##parse("includes/hive-reserved-words.vm")
#parse("includes/ddl-header-dashed.vm")
#end
#end
## Stop processing if help requested.
#if( $help )
#stop
#end

#if ( ! $hdfsStagingDir )
#set ( $hdfsStagingDir = "/user/tungsten/staging" )
#end
#if ( ! $schemaPrefix )
#set ( $schemaPrefix = "" )
#end
#if ( ! $tablePrefix )
#set ( $tablePrefix = "stage_xxx_" )
#end

DROP TABLE IF EXISTS ##
${schemaPrefix}${table.getSchema()}.${tablePrefix}$table.getName()##
;

CREATE EXTERNAL TABLE ##
${schemaPrefix}${table.getSchema()}.${tablePrefix}$table.getName()##
#if ( $table.getName().substring(0, 1).matches("[0-9]") ) /* ERROR: table starts with a number, use rename option and a filter */ #end

(
  tungsten_opcode STRING ,
  tungsten_seqno INT ,
  tungsten_row_id INT ,
  tungsten_commit_timestamp TIMESTAMP ,
##
### Columns are generated by included script. 
#set ( $firstcol = false )
#parse("includes/ddl-mysql-hive-0.10-columns.vm")
) 
ROW FORMAT DELIMITED FIELDS TERMINATED BY '\001' ESCAPED BY '\\'
LINES TERMINATED BY '\n'
STORED AS TEXTFILE LOCATION '$hdfsStagingDir/$table.getSchema()/$table.getName()' ##
;
